{% extends "base.html" %}
{% block title %}
账单
{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64">
    <div class="relative overflow-x-auto shadow-md">
        <div class="px-auto">
            <h1 class="text-4xl py-10">账单一覧
            </h1>
            <form class="py-2 relative mx-auto text-gray-600" method="post">
                {% csrf_token %}
                <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
                    type="search" name="keyword" placeholder="请输入账号名搜索">
                <button type="submit" class="m-auto px-2">
                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                        xml:space="preserve" width="512px" height="512px">
                        <path
                            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button>
            </form>
        </div>
        <table class="w-full text-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead
                class="text-normal text-gray-700 uppercase bg-gray-50 whitespace-nowrap dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        姓名
                    </th>
                    <th scope="col" class="px-6 py-3">
                        账号名
                    </th>
                    <th scope="col" class="px-6 py-3">
                        职务
                    </th>
                    {% if request.user.profile.contract_type == "管理" %}
                    <th scope="col" class="px-6 py-3">
                        效益
                    </th>
                    <th scope="col" class="px-6 py-3">
                        提成比率
                    </th>
                    <th scope="col" class="px-6 py-3">
                        全勤提成
                    </th>
                    <th scope="col" class="px-6 py-3">
                        客人評価
                    </th>
                    <th scope="col" class="px-6 py-3">
                        公司評価
                    </th>
                    <th scope="col" class="px-6 py-3">
                        備考
                    </th>
                    <th scope="col" class="px-6 py-3">
                        編集
                    </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if profile %}
                <tr class="border-b">
                    <th scope="row" class="pl-6 pr-3 py-4 font-medium whitespace-nowrap text-gray-900">
                        {{ profile.fullname }}
                    </th>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.user }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.contract_type }}
                    </td>
                    {% if request.user.profile.contract_type == "管理" %}
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ totalearnings|floatformat:2 }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.fare_percentage }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.full_attendance }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.customers_evaluation }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.company_evaluation }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        {{ profile.note }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <a href="{% url 'profile_details' profile.id %}"
                            class="font-medium text-blue-600 hover:underline">編集</a>
                    </td>
                    {% endif %}
                </tr>
                {% else %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}