{% extends "base.html" %}
{% block title %}
主页
{% endblock %}

{% block content %}
<div class="p-4 sm:ml-64">

    <div class="relative overflow-x-auto shadow-md">
        <div class="px-auto">
            <h1 class="text-4xl pt-10 pb-5">主页</h1>
        </div>
        <form method="post" actio="{% url 'home' %}">
            {% csrf_token %}
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">連絡事項</label>
            <input id="content" name="content" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="連絡事項"></input>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                追加
            </button>
        </form>
        <ul class="mt-5 space-y-1 mb-10">
            {% if notifications %}
            <div class="px-auto">
                <h1 class="text-4xl pt-10 pb-5 text-lg font-semibold">注意事项</h1>
            </div>
            {% for n in notifications %}
            <li>
                <p class="flex mb-5 text-gray-500 mb-2">{{n.content}} - {{ n.author.profile }}
                    {% if request.user.profile.contract_type == '管理' %}
                    <a href="{% url 'delete_notification' n.id %}"><svg
                            class="w-6 h-6 dark:text-red-500 text-center ml-6" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                    </a>
                    {% endif %}
                </p>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
            {% include 'components/calendar.html' %}
        </div>
        <div class="relative overflow-x-auto shadow-md">
            <div class="px-auto">
                <h1 class="text-4xl py-10">今日课程
                    {% if request.user.profile.contract_type == "教练" %}
                    {% else %}
                    <a class="pl-8" href="{% url 'add_lesson' %}">＋</a>
                    {% endif %}
                </h1>
                <h2 class="text-6xl m-0 mr-3"></h2>
            </div>
            <table class="w-full text-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead
                    class="text-normal text-gray-700 uppercase bg-gray-50 whitespace-nowrap dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            课程编号
                        </th>
                        <th scope="col" class="px-6 py-3">
                            课程类型
                        </th>
                        <th scope="col" class="px-6 py-3">
                            教练
                        </th>
                        <th scope="col" class="px-6 py-3">
                            客人姓名
                        </th>
                        <th scope="col" class="px-6 py-3">
                            作業内容
                        </th>
                        <th scope="col" class="px-6 py-3">
                            備考
                        </th>
                        <th scope="col" class="px-6 py-3">
                            編集
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if lessons %}
                    {% for lesson in lessons %}
                    <tr class="border-b">
                        <th scope="row" class="pl-6 pr-3 py-4 font-medium whitespace-nowrap text-gray-900">
                            <a href="{% url 'lesson_details' lesson.id %}">
                                {{ lesson.lesson_number }}
                            </a>
                        </th>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ lesson.lesson_type }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ lesson.instructors.all|join:", " }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ lesson.client }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ lesson.place }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ lesson.note }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <a href="{% url 'lesson_details' lesson.id %}"
                                class="font-medium text-blue-600 hover:underline">編集</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}